<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Yelp Camp</title>
</head>

<body>
    <h1 class="text-center py-5 text-white heading">YelpCamp</h1>
    <div class="container pt-md-5 text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-12">
                <p class="lead text-white para">Welcome to YelpCamp!</p>
            </div>
        </div>
        <div class="row p-md-4">
            <div class="col-md-6 offset-md-3 col-12 pt-5">
                <p class="text-white lead para2">Jump right in and explore our many campgrounds. <br>
                    Feel free to share some of your own and comment on others!</p>
                    <a href="/campgrounds" class="btn btn-lg btn-secondary">Get Started</a>
            </div>
        </div>
    </div>
    <footer class="text-center pt-5">
        <div class="container text-muted">
            <p>&copy; 2022 </p>
        </div>
    </footer>
    
</body>

</html>


<!-- <p class="lead"> Welcome to YelpCamp! <hr> Jump right in and explore our many campgrounds. <br>
    Feel free to share some of your own and comment on others!</p> -->

    


    <!-- <body>
        <div class="container text-center pt-5">
            <h1 class="text-white">YelpCamp</h1>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-12 p-5">
                        <p class="text-white lead">Welcome to YelpCamp! <br><br> Jump right in and explore our many campgrounds. <br>
                            Feel free to share some of your own and comment on others!</p>
                        <a href="/campgrounds" class="btn btn-lg btn-secondary">View
                            Campgrounds</a>
                </div>
            </div>
        </div>
        
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body> -->